:root{
    --green:#C99700;
    --white:#FFFFFF;
    --black:#0C2340;
    --irishPrime:#C99700;
    --irishSecd:#0C2340;
    --iowaPrime:#FFCD00;
    --iowaSecd:#000000;
    --nmsuPrime:#861F41;
    --nmsuSecd:#97999B;
    --coloradoPrime:#CFB87C;
    --coloradoSecd:#000000;


}
#logo{
    float: left;
    width: 100px;
    height: 100px;
  }
.wrapperLogo{
float: left;
width: 40px;
height: 40px;
}

#wrapper {
        width: 1200px;
        margin: 0 auto;
        background-color: #CDCDCD;
    }
    
    .top-menu {
        margin-top: 40px;
        background-color: #FFFFFF;
    }

    .logo {
        flex: 0;
    }
    
    .logo img {
        width: 40px;
        height: 40px;
    }
    .search-container {
        flex: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
    }
    
    .between {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    
    .menu div ul.left {
        display: flex;
        justify-content: flex-start;
    }
    
    .menu div ul.right {
        display: flex;
        justify-content: flex-end;
    }
    
    .menu ul li {
        flex: auto;
        display: inline;
        list-style: none;
        padding: 0 1rem;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: #303030;
        font: 14px lato;
    }






.schedule{
    width:60%;
    min-width: 600px;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:var(--white);
    border: 5px solid;
    border-color: var(--prime);
    color: #000000;
}

.notreDame { display:none}
.iowa {display: none;}
.nmsu {display:none}
.colorado {display: none;}

ul{
    font-family:helvetica;
}

li {
    list-style: circle;
  }
  
.list {
list-style: square;
}

#msg {
font-family: monospace;
}

.noTheme{
    --bg: var(--white)
    --fontColor:var(--white);
    --prime:var(--white)
    }


.irish-theme {
    --bg: var(--irishSecd);
    --fontColor:var(--irishPrime);
    --prime:var(--irishPrime)
    }

.aggies-theme {
--bg: var(--nmsuPrime);
--fontColor: var(--nmsuSecd);
--prime:var(--nmsuSecd);

}

.hawkeyes-theme {
--bg: var(--iowaSecd);
--fontColor: var(--iowaPrime);
--prime:var(--iowaPrime)

}

.buffaloes-theme {
--bg: var(--coloradoPrime);
--fontColor: var(--coloradoSecd);
--prime:var(--coloradoSecd)
}
    
body{
background:var(--bg);
color:var(--fontColor);
font-family:helvetica;
}


    


